html {
  min-height: 100vh;

  &.no-scroll {
    position: relative;
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.is-inverted {
    background-color: #00223c;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; /* 2 */
}

img {
  width: 100%;
  height: auto;
}

.page-section {
  &--inverted {
    $gradientStop1: desaturate(darken(get('colors.primary'), 50%), 50%);
    $gradientStop2: desaturate(darken(get('colors.primary'), 48%), 50%);
    background: {
      color: $gradientStop1;
      image: url('inline:assets/images/feature-bg-left.svg?gradientStop1=#{$gradientStop1}&gradientStop2=#{$gradientStop2}');
      position: 0 120%;
      repeat: no-repeat;
      size: 100%;
    };

    .content-row:last-child .wrap {
      @include bp(min-small) {
        padding-bottom: calc(3rem + 1vw);
      }
    }
  }

  &--home-about {
    $fill1: #fff;
    $fill2: darken(#F7F9FD, 5%);

    position: relative;
    background-color: #F7F9FD;

    @include bp(min-small) {
      background: {
        image: url('inline:assets/images/bg-about.svg?fill1=#{$fill1}&fill2=#{$fill2}');
        repeat: no-repeat;
        position: 100% 50%;
        size: cover;
      }
    }

    .wrap:last-child {
      @include bp(min-small) {
        padding-bottom: calc(3rem + 1vw);
      }
    }
  }

  &--contact {
    margin-top: auto;

    h2 {
      @include bp(min-small) {
        margin: 2rem auto 1rem;
      }

      @include bp(max-small) {
        margin: 1rem auto .5rem;
      }
    }

    h3 {
      text-align: center;
      margin-bottom: 0;
    }

    $color1: lighten(get('colors.primary'), 20%);
    $color2: lighten(get('colors.primary'), 25%);
    $color3: lighten(get('colors.primary'), 28%);
    $color4: lighten(get('colors.primary'), 23%);
    $color5: lighten(get('colors.primary'), 40%);
    background: {
      color: $color1;
      image: url('inline:assets/images/contact-bg.svg?color1=#{$color1}&color2=#{$color2}&color3=#{$color3}&color4=#{$color4}&color5=#{$color5}');
      position: 50%;
      size: cover;
    }
  }

  &--products {
    flex-grow: 1;
    background: {
      image: url('assets/images/products/products-bg.svg');
      size: cover;
      position: 75% 50%;
    };

    h1 + h2 {
      max-width: 30rem;
    }
  }

  &--podcast {
    $cl-podcast: #FFDA99;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    color: desaturate(darken($cl-podcast, 50%), 70%);
    background-color: #fff0d5;
    background: {
      image: url('assets/images/podcast-background.svg');
      repeat: no-repeat;
      position: 50%;
      size: cover;
    };

    @include bp(min-large) {
      background-size: 75rem;
    }

    .wrap {
      padding: 2rem 1rem 2.5rem;

      @include bp(min-small) {
        padding: 3rem 1rem;
        display: flex;
        justify-content: space-between;
      }
    }

    .col:nth-child(2) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      a {
        text-decoration: none;
      }

      @include bp(max-small) {
        margin-top: 2rem;
      }

      @include bp(min-small) {
        width: 50%;
        padding-left: 3rem;
      }
    }

    h2 {
      max-width: 30rem;
      font-size: calc(2.5rem + 1vw);
      margin: 0 0 .65em;
      text-align: left;
    }

    p {
      max-width: 30rem;
      font-size: 1.25rem;
    }

    .podcast-preview {
      position: relative;
      overflow: hidden;
      max-width: 100%;
      width: 20rem;
      height: 20rem;
      padding: .5rem;
      border-radius: 8px;
      background: lighten(#FFDA99, 18%);
      box-shadow: 0px 16px 64px rgba(0,0,0,0.1), 0px 8px 16px rgba(0,0,0,0.05);
      transition: filter 200ms ease-in-out;

      &:hover {
        filter: brightness(1.1);
      }

      @include bp(max-small) {
        width: 17rem;
        height: 17rem;
      }
    }

    .podcast-preview__inside {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-color: #e8c68a;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      border-radius: 4px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background: url('assets/images/podcast-wave.svg');
        background-size: cover;
        width: 150%;
        padding-top: 33%;
        opacity: .4;
        animation: podcastWave 1s linear infinite;
      }

      span {
        text-align: center;
        position: absolute;
        left: 0;
        bottom: .65rem;
        width: 100%;
        font-weight: 700;
        color: rgba(0,0,0,0.5);
        transition: opacity 200ms ease-in-out;
        text-transform: uppercase;
        font-size: .85rem;
      }
    }

    .podcast-link-youtube {
      display: inline-block;
      margin-top: 1.5rem;
      padding: 1rem 1.5rem;
      border-radius: 2rem;
      text-transform: uppercase;
      font-size: .85rem;
      font-weight: 700;
      background: lighten(#FFDA99, 18%);
      background-image: url('assets/images/icon-youtube.svg');
      background-repeat: no-repeat;
      background-position: 1.125rem 50%;
      background-size: 3em;
      padding-left: 4.125rem;
      color: desaturate(darken($cl-podcast, 55%), 66%);
      box-shadow: 0px 16px 64px rgba(0,0,0,0.1), 0px 8px 16px rgba(0,0,0,0.05);
      transition: filter 200ms ease-in-out;

      &:hover {
        filter: brightness(1.1);
      }
    }
  }

  &--product-purchase,
  &--product-checkout {
    padding-bottom: 6rem;
    background-color: get('colors.darkBackground');
    background: {
      image: radial-gradient(circle at bottom, lighten(get('colors.darkBackground'), 12%), get('colors.darkBackground') 50rem);
      size: 100%;
    };

    h1 {
      max-width: 40rem;
      color: mix(get('colors.darkBackground'), get('colors.white'), 10%);
      font-size: 3rem;

      @include bp(max-small) {
        font-size: 2.5rem;
        text-align: left;
      }
    }

    h3 {
      max-width: 40rem;
      margin: 0 auto;
    }

    p {
      max-width: 40rem;
      margin: 0 auto;
    }

    @include bp(max-small) {
      padding-bottom: 5rem;
    }
  }

  &--product-checkout {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 4rem 1rem 8rem;
    background: {
      image: url('assets/images/products/stork/checkout-bg2.svg'),
        linear-gradient(30deg, lighten(get('colors.darkBackground'), 7%), get('colors.darkBackground'));
      size: cover;
      position: 50%;
      repeat: no-repeat;
    };

    h1 {
      margin: 0 auto .75em;
    }

    p {
      max-width: 30rem;
      margin-bottom: 1.25em;
      color: mix(get('colors.darkBackground'), get('colors.white'), 10%);
      font-size: 1.5rem;

      @include bp(max-small) {
        text-align: center;
      }
    }

    .button {
      font-size: 1.5rem;
      display: inline-block;
      margin: 1rem auto 0;

      &::before {
        background-color: #f43662;
      }

      &:hover,
      &:active,
      &:focus {
        &::before {
          background-color: desaturate(darken(#f43662, 10%), 20%);
        }
      }
    }

    @include bp(max-small) {
      margin-top: 1rem;
      padding: 1rem 1rem 6rem;

      h1 {
        text-align: center;
      }
    }
  }
}

.wrap {
  width: 100%;
  max-width: get('sizes.page-width');
  margin: 0 auto;
  padding: 1rem;

  + .content-row > .wrap:first-child {
    padding-top: 0;
  }

  &--blog {
    max-width: 47.75rem;
    font-size: 1.315rem;
    line-height: 1.58em;
    padding: 2rem;

    &:first-child {
      position: relative;
      z-index: 2;
      margin-top: -5rem;
      padding-bottom: 2.5rem;
      background: get('colors.white');
      border-radius: .25rem;

      + .wrap {
        padding-top: 0;
      }

      @include bp(max-small) {
        padding-bottom: 1.6875rem;
      }
    }

    &:last-child {
      margin-bottom: 2rem;

      @include bp(max-small) {
        margin-bottom: 0;
      }
    }

    h1 {
      margin-top: 0;
    }

    h2 {
      margin: 2em 0 0;
      text-align: left;
      max-width: 100%;
    }

    time {
      margin: 0;
    }

    p {
      &:first-child {
        margin-top: 0;
      }

      + p {
        margin-top: 1.38em;
      }
    }

    + .wrap {
      padding-top: 0;
    }

    @include bp(max-small) {
      font-size: 1.125rem;
      padding: 1rem;
    }
  }
}

.page-content-overlay {
  position: fixed;
  z-index: 3;
  display: none;
  top: 4rem;
  left: 0;
  width: 100%;
  height: calc(100% - 4rem);
  background: transparentize(get('colors.text.body'), .8);
  opacity: 0;
  pointer-events: none;
  transition: {
    property: transform, opacity;
    duration: 500ms;
  }

  @include bp(max-small) {
    display: block;
  }

  &.is-visible {
    pointer-events: auto;
    opacity: 1;
  }
}

@keyframes podcastWave {
  to {
    transform: translateX(-29%);
  }
}
