$invertedColor: mix(get('colors.darkBackground'), get('colors.white'), 30%);
$whiteColor: #fff;

.page-footer {
  flex-shrink: 0;
  margin-top: auto;
  color: lighten(get('colors.text.body'), 30%);

  .wrap {
    padding: 2rem 0;
  }

  p {
    max-width: 80%;
    margin: 0;
    text-align: center;
    opacity: .7;

    + p {
      margin-top: 1em;
    }
  }

  a:not([class]) {
    color: lighten(get('colors.text.body'), 30%);
  }

  .is-inverted & {
    p {
      color: $invertedColor;
    }

    a:not([class]) {
      color: $invertedColor;
    }
  }

  .footer-white & {
    p {
      color: $whiteColor;
      opacity: 1;
    }

    a:not([class]) {
      color: $whiteColor;
      opacity: 1;
    }
  }
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 11em;
  margin-bottom: 1.5rem;
  opacity: .75;
  pointer-events: none;
  transition: opacity 200ms;

  .footer-white & {
    opacity: 1;
  }

  &:hover {
    opacity: .5;

    .footer-white & {
      opacity: 1;
    }
  }
}

.social-media__item {
  $icon-color: #253e88;

  position: relative;
  display: block;
  overflow: hidden;
  width: 2.5em;
  height: 2.5em;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  background: {
    position: 50%;
    size: contain;
    repeat: no-repeat;
  }
  pointer-events: auto;
  opacity: .75;
  transition: opacity 200ms;

  .footer-white & {
    opacity: 1;
  }

  &[data-icon='github'] {
    background-image: url('inline:assets/images/_icon-github.svg?fill=#{$icon-color}');

    .is-inverted & {
      background-image: url('inline:assets/images/_icon-github.svg?fill=#{$invertedColor}');
    }

    .footer-white & {
      background-image: url('inline:assets/images/_icon-github.svg?fill=#{$whiteColor}');
    }
  }

  &[data-icon='linkedin'] {
    background-image: url('inline:assets/images/_icon-linkedin.svg?fill=#{$icon-color}');

    .is-inverted & {
      background-image: url('inline:assets/images/_icon-linkedin.svg?fill=#{$invertedColor}');
    }

    .footer-white & {
      background-image: url('inline:assets/images/_icon-linkedin.svg?fill=#{$whiteColor}');
    }
  }

  &[data-icon='twitter'] {
    background-image: url('inline:assets/images/_icon-twitter.svg?fill=#{$icon-color}');

    .is-inverted & {
      background-image: url('inline:assets/images/_icon-twitter.svg?fill=#{$invertedColor}');
    }

    .footer-white & {
      background-image: url('inline:assets/images/_icon-twitter.svg?fill=#{$whiteColor}');
    }
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}
