.landing-content {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  background-image: linear-gradient(140deg, #FFDA99, rgb(250, 252, 255));

  &::before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: {
      image: url('assets/images/landing-bg-02.svg');
      repeat: no-repeat;
      position: 0 0;
      size: 60rem;
    };

    @include bp(max-medium) {
      background-size: 40rem;
    }

    @include bp(max-tiny) {
      background-size: 25rem;
    }
  }

  &::after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: {
      image: url('assets/images/landing-bg-01.svg');
      repeat: no-repeat;
      position: 100% 100%;
      size: 60rem;
    };

    @include bp(max-medium) {
      background-size: 40rem;
    }

    @include bp(max-tiny) {
      background-size: 25rem;
    }
  }

  .illustration {
    z-index: 2;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: {
      image: url('assets/images/landing-illustration.svg');
      repeat: no-repeat;
      position: 100% 100%;
      size: 50rem;
    };

    @include bp(max-medium) {
      background-size: 33rem;
    }

    @include bp(max-small) {
      background-size: 22rem;
      background: {
        image: url('assets/images/landing-illustration.svg');
        repeat: no-repeat;
        position: 100% 100%;
        size: 30rem;
      };
    }

    @include bp(max-tiny) {
      background-size: 22rem;
      background-position: calc(100% + 7rem) 95%;
    }
  }

  .wrap {
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    margin-bottom: 10rem;
    transform: translateY(-4rem);

    @include bp(max-small) {
      margin-top: 6rem;
      margin-bottom: 1rem;
    }
  }

  .landing-content__title {
    text-align: left;
    margin-top: 0;
    margin-bottom: .5em;
    max-width: 70%;
    font-size: calc(2.75rem + 1vw);
    line-height: 1.1;
    font-weight: bold;
    letter-spacing: -.03em;
    animation: {
      name: slideIn;
      duration: 400ms;
      timing-function: cubic-bezier(.555, .205, .295, .975);
      fill-mode: both;
      delay: 600ms;
    };
    color: #3e4b97;

    @include bp(min-small) {
      max-width: calc(20rem + 25vw);
    }

    @include bp(max-small) {
      max-width: 30rem;
      font-size: calc(2rem + 1vw);
    }
  }

  .landing-content__text {
    max-width: calc(10rem + 25vw);
    margin-top: 0;
    margin-bottom: 0;
    font-size: calc(1.25rem + 1vw);
    letter-spacing: -.03em;
    color: get('colors.text.tagline');
    animation: {
      name: slideIn;
      duration: 400ms;
      timing-function: cubic-bezier(.555, .205, .295, .975);
      fill-mode: both;
      delay: 900ms;
    }
  }

  .scroll-icon-holder {
    z-index: 2;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 20rem;
    height: 7rem;
    background-image: url('assets/images/header-blob.svg');
    background-position: 50% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(-50%);

    @include bp(max-small) {
      width: 12rem;
      height: 4rem;
    }
  }

  .scroll-icon {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 1rem;
    width: 4rem;
    height: 4rem;
    margin-left: -2rem;
    fill: transparent;
    stroke: lighten(get('colors.text.tagline'), 20%);

    &--mobile {
      width: 2rem;
      height: 2rem;
      bottom: .5rem;
      margin-left: -1rem;
      animation: {
        name: swipe;
        duration: 5000ms;
        iteration-count: infinite;
      }

      @include bp(max-small) {
        display: block;
      }
    }

    &--desktop {
      .scroll-wheel {
        fill: lighten(get('colors.text.tagline'), 20%);
        animation: {
          name: scroll;
          duration: 5000ms;
          iteration-count: infinite;
        }
      }

      @include bp(min-small) {
        display: block;
      }
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes swipe {
  0% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(-50%);
  }

  80% {
    transform: translateY(25%);
  }

  90% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(-8%);
  }

  80% {
    transform: translateY(8%);
  }

  90% {
    transform: translateY(-8%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
