.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 60rem;
  margin: 0 auto 3rem;
}

.product {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: flex-start;
  max-width: calc(50% - 2rem);
  margin: 0 auto 2rem;
  padding: 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  background: get('colors.white');
  box-shadow: 0 .25rem .5rem transparentize(mix(get('colors.text.link'), get('colors.text.body'), 50%), .9),
              0 1rem 2rem transparentize(mix(get('colors.text.link'), get('colors.text.body'), 50%), .98);
  animation: slideIn 300ms;
  animation-fill-mode: backwards;
  transition: {
    property: transform, box-shadow;
    duration: 400ms;
  };

  picture {
    margin-left: 1em;
    max-width: 6rem;
    flex-shrink: 0;
    transform: translate(5%, -5%);

    @include bp(max-small) {
      max-width: 4rem;
      margin-left: auto;
    }
  }

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 1rem 1rem transparentize(mix(get('colors.text.link'), get('colors.text.body'), 50%), .85),
              0 1.5rem 3rem transparentize(mix(get('colors.text.link'), get('colors.text.body'), 50%), .95);
  }

  @for $index from 1 to 10 {
    &:nth-child(#{$index}) {
      animation-delay: $index * 50ms;
    }
  }

  @include bp(max-small) {
    max-width: 100%;
    margin: 0 1rem;
    padding: 1.25rem;

    + .product {
      margin-top: 1rem;
    }
  }
}

.product__content {
  display: flex;
  flex-direction: column;

  h2 {
    max-width: 100%;
    margin: 0 0 1rem;
    font-size: 1.75rem;
    color: get('colors.text.link');
  }

  p {
    font-size: 1.125rem;
    margin: 0;
    text-align: center;
    color: get('colors.text.body');
  }

  h2,
  p {
    width: 100%;
    text-align: left;
  }

  .product--disabled & {
    h2,
    p {
      color: lighten(get('colors.text.body'), 30%);
    }
  }
}

.product-header {
  position: relative;
  display: flex;
  background-color: get('colors.darkBackground');
  background: {
    image: radial-gradient(circle at center, lighten(get('colors.darkBackground'), 12%), get('colors.darkBackground'));
    size: 100%;
  };
  overflow: hidden;

  > * {
    z-index: 2;
  }

  @include bp(max-small) {
    flex-direction: column;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 46%;
    display: block;
    width: 100%;
    height: 100%;
    transform: skewX(-44deg);
    background: get('colors.darkBackground');
    z-index: 1;

    @include bp(max-small) {
      flex-direction: column;
      left: 0;
      top: calc(50%);
      width: 100%;
      transform: skewY(-12deg);
    }
  }
}

.product-header__left {
  display: flex;
  width: 50%;
  padding: 6rem 3rem 10rem;

  .picture-wrapper {
    position: relative;
    max-width: 80%;
    margin: auto 0 auto auto;
    box-shadow: 0 1rem 2rem transparentize(get('colors.black'), .7);

    picture img {
      border-radius: .5em;
      overflow: hidden;
    }

    @include bp(max-small) {
      max-width: 100%;
    }
  }

  @include bp(max-small) {
    padding: 2rem;
    width: 100%;
  }
}

.product-header__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 6rem 2rem 10rem 3rem;
  color: mix(get('colors.darkBackground'), get('colors.white'), 10%);

  h1.page-title,
  h2 {
    margin: 0;
    text-align: left;
    max-width: 28rem;
  }

  h2 {
    @include bp(max-small) {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  h1.page-title {
    font-size: 5rem;
    margin: 0 0 .35em;

    svg {
      display: inline-block;
      width: auto;
      height: 1.2em;
      vertical-align: top;

      path {
        fill: mix(get('colors.darkBackground'), get('colors.white'), 10%);
      }
    }

    &::after {
      content: '.';
    }

    @include bp(max-small) {
      font-size: 3rem;
      text-align: center;
    }
  }

  @include bp(max-small) {
    align-items: center;
    width: 100%;
    padding: 2rem 2rem 3rem;
  }
}

.product-signup {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  width: 100%;
  margin: -3rem auto 3rem;
  padding: 2rem 4rem 2.5rem;
  border-radius: .5rem;
  background-color: desaturate(lighten(get('colors.darkBackground'), 17%), 10%);
  background: {
    image: url('assets/images/products/stork/signup-bg.svg');
    size: cover;
    position: 50%;
  };
  box-shadow: 0 1rem 2rem transparentize(get('colors.black'), .8);

  h2 {
    text-align: left;
    margin: 0 0 1.5rem;
    color: mix(get('colors.darkBackground'), get('colors.white'), 10%);
  }

  p {
    font-size: 1.5rem;
    color: mix(get('colors.darkBackground'), get('colors.white'), 10%);
    margin: 0 0 1em;

    &:last-child {
      margin-bottom: 0;
    }

    @include bp(max-small) {
      font-size: 1.25rem;
    }
  }

  form {

    fieldset {
      width: 100%;
      appearance: none;
      border: 0;
      margin: 0;
      padding: 0;

      .fieldset-flex {
        display: flex;
        align-items: center;
      }
    }
  }

  input {
    appearance: none;
    width: 100%;
    max-width: 20rem;
    padding: .5em .625em;
    border: 0;
    border-radius: .25rem;
    background: transparentize(get('colors.darkBackground'), .35);
    color: mix(get('colors.darkBackground'), get('colors.white'), 10%);
    font-size: 1.5rem;
    font-family: inherit;

    @include bp(max-small) {
      font-size: 1.25rem;
    }
  }

  $buttonColor: mix(get('colors.darkBackground'), get('colors.white'), 10%);

  .signup-email-label {
    opacity: 0;
    width: 0;
  }

  .signup-button {
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    margin-left: 1em;
    border: .125rem solid $buttonColor;
    border-radius: 50%;
    background: {
      image: url('inline:assets/images/_icon-arrow-right.svg?color=#{$buttonColor}');
      position: 50%;
      repeat: no-repeat;
      size: 66%;
    };
    cursor: pointer;
    color: transparent;
    text-indent: 100px;
    overflow: hidden;

    @include bp(max-small) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  @include bp(max-small) {
    width: calc(100% - 3rem);
    margin: -3rem auto 1rem;
    padding: 1rem 1.5rem 1.5rem;
  }
}

.content-row--product {
  h2,
  p {
    color: mix(get('colors.darkBackground'), get('colors.white'), 10%);
  }

  @for $index from 1 to 10 {
    &:nth-child(#{$index}) {
      picture {
        transition-delay: $index * 250ms;
      }
    }
  }
}

.page-section--product-gallery {
  margin-top: -3rem;
  overflow: hidden;
  padding-bottom: 5rem;

  .content-row__text {
    z-index: 3;
    position: relative;
  }

  .picture-wrapper {
    &::before {
      z-index: 2;
      content: '';
      position: absolute;
      bottom: -5rem;
      left: -25%;
      display: block;
      width: 150%;
      height: 7.5rem;
      background: radial-gradient(at 50% -50%, lighten(get('colors.darkBackground'), 15%), get('colors.darkBackground') 70%) no-repeat;
      transform-origin: 50% 0;
      transform: rotate(10deg);
    }

    &::after {
      z-index: 2;
      content: '';
      position: absolute;
      bottom: calc(2.5rem - .5rem);
      left: -25%;
      display: block;
      width: 150%;
      height: .5rem;
      background: radial-gradient(at 50% -50%, lighten(get('colors.darkBackground'), 30%), transparentize(#0079d5, 1) 70%) no-repeat;
      transform-origin: 50% 0;
      transform: rotate(10deg);
    }

    &.align-right {
      &::before,
      &::after {
        transform: rotate(-10deg);
      }

      picture {
        &::after {
          transform: skewY(-10deg);
        }
      }
    }
  }

  picture {
    transition-duration: 1000ms;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);

    &::after {
      z-index: 2;
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 10rem;
      transform: skewY(10deg);
      @include scrimGradient(darken(get('colors.text.body'), 10%), 'to top');
    }
  }

  @include bp(max-small) {
    margin: -2rem 0 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
}

.content-row--product {
  .wrap {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.purchase-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    display: block;
    width: 100%;
    padding: .5em;
    border: none;
    font-family: inherit;
    font-size: 1.25rem;
    background: desaturate(lighten(get('colors.darkBackground'), 15%), 15%);
    color: mix(get('colors.darkBackground'), get('colors.white'), 20%);
  }

  label {
    display: block;
    color: mix(get('colors.darkBackground'), get('colors.white'), 30%);
    font-size: 1.25rem;
    margin-bottom: .5rem;
  }
}

.form-row {
  max-width: 30rem;
  width: 100%;
  margin-bottom: 1.5rem;
}
